body {
    background:green;
}
.card {
    height: 35rem;
}
.symbol {
    font-size: 6rem;
}
.hearts{
    /* content: 'AAAAA'; */
    color: red;
    font-size: 6rem;
}
.diamonds{
    /* content: "♦"; */
    color: red;
    font-size: 6rem;
}
.spades{
    /* content: "♠"; */
    font-size: 6rem;
}
.clubs{
    /* content: "♣"; */
    font-size: 6rem;
}
.number{
    font-size: 7rem
}